---
{{- if .Values.observability.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: infra-opentelemetry-logcollector
  namespace: infra-argocd
  labels:
    app.kubernetes.io/name: helm-infra-argocd
    app.kubernetes.io/component: infra-opentelemetry-logcollector
    app.kubernetes.io/managed-by: helm-infra-argocd
spec:
  destination:
    namespace: infra-logging
    server: https://kubernetes.default.svc
  project: infra-logging
  syncPolicy:
    automated: {}
  source:
    chart: opentelemetry-collector
    repoURL: https://open-telemetry.github.io/opentelemetry-helm-charts
    targetRevision: 0.145.0
    helm:
      valuesObject:
        image:
          repository: "otel/opentelemetry-collector-k8s"
        mode: daemonset
        presets:
          kubernetesAttributes:
            enabled: true
            extractAllPodLabels: true
            extractAllPodAnnotations: true
          logsCollection:
            enabled: true
            includeCollectorLogs: true
        config:
          exporters:
            otlphttp:
              endpoint: http://loki-write.infra-logging:3100/otlp
          service:
            pipelines:
              logs:
                exporters:
                  - otlphttp
{{- end }}
