@page
@model Berg.Pages.Index

Index Page

<h3>Categories</h3>

<dl class="row">
  <dt class="col-sm-3">Junior</dt>
  <dd class="col-sm-9">A swiss citizen of age 14-20 on 31.12.2023</dd>
  <dt class="col-sm-3">Senior</dt>
  <dd class="col-sm-9">A swiss citizen of age 21-25 on 31.12.2023</dd>
  <dt class="col-sm-3">Earth</dt>
  <dd class="col-sm-9">Everybody</dd>
</dl>
