@page
@using System.Security.Claims
@model Berg.Pages.Profile

@{
  var avatarUrl = $"https://cdn.discordapp.com/avatars/{Model.DiscordId}/{Model.DiscordAvatarId}.png?size=256";
}

<div class="row">
  <h2>Profile</h2>
</div>

<dl class="row">
  <dt class="col-sm-3">Avatar</dt>
  <dd class="col-sm-9"><img src="@avatarUrl" alt="Avatar" width="256px" height="256px"></dd>
  <dt class="col-sm-3">Name</dt>
  <dd class="col-sm-9">@Model.Name</dd>
  <dt class="col-sm-3">E-Mail</dt>
  <dd class="col-sm-9">@Model.Email</dd>
  <dt class="col-sm-3">Category</dt>
  <dd class="col-sm-9">@Model.Category</dd>
</dl>

<div class="row">
  <h3>Solved Challenges</h3>
  TODO
</div>

<div class="row">
  <h3>Danger Zone</h3>
  <div class="d-md-block">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteAccountModal">Delete Account</button>
  </div>
</div>

<div id="deleteAccountModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>This will delete all your information from the platform:</p>
        <ul>
          <li>Username</li>
          <li>Email</li>
          <li>Category</li>
          <li>Submitted Flags</li>
        </ul>
        <div class="alert alert-warning" role="alert">
          This action can't be undone.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form action="/account/delete" method="POST">
          <button type="submit" class="btn btn-danger">Delete Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
