@page
@model Berg.Pages.Rules

@{
    ViewData["Title"] = "Rules";
}

<h3>Rules</h3>

<ol>
    <li>This is a single player competition, no teams allowed.</li>
    <li>No sharing of hints or writeups before the challenge is over.</li>
    <li>Use the correct category while signing up.</li>
    <li>There is no bruteforce or scanning required for all challenges.</li>
    <li>Attacking the organizers infrastructure is forbidden.</li>
    <li>Have fun!</li>
</ol>