@page
@model Berg.Pages.Sponsoring

@{
    ViewData["Title"] = "Sponsors";
}

<h3 class="mb-3">Sponsors</h3>

<h4 class="mb-3">Gold Sponsors</h4>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="/img/sponsors/sponsor.png" class="img-fluid d-block mx-auto rounded-start" alt="Sponsor">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor</h5>
                        <p class="card-text">
                            Et perspiciatis et voluptatum eum est. Consectetur rerum molestiae veritatis dolorum nam.
                            Enim explicabo unde maxime molestiae consequuntur aliquam voluptatem.
                            Corporis fugit eveniet dolor officiis repellendus blanditiis error.
                            Provident molestiae eius ratione repellat modi tempora eius aut.
                            Hic quo est placeat cupiditate aut. Vel sit qui quos odit. Et et quidem aut nemo.
                            Et aliquam iste perferendis.
                            Eaque nostrum accusamus sint aspernatur perferendis iure. Accusantium hic ipsam commodi sunt.
                        </p>
                        <p class="card-text"><small class="text-muted">Go to website</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="mb-3">Silver Sponsors</h4>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="/img/sponsors/sponsor.png" class="img-fluid d-block mx-auto rounded-start" alt="Sponsor">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor</h5>
                        <p class="card-text">
                            Et perspiciatis et voluptatum eum est. Consectetur rerum molestiae veritatis dolorum nam.
                            Enim explicabo unde maxime molestiae consequuntur aliquam voluptatem.
                            Corporis fugit eveniet dolor officiis repellendus blanditiis error.
                            Provident molestiae eius ratione repellat modi tempora eius aut.
                            Hic quo est placeat cupiditate aut. Vel sit qui quos odit. Et et quidem aut nemo.
                            Et aliquam iste perferendis.
                            Eaque nostrum accusamus sint aspernatur perferendis iure. Accusantium hic ipsam commodi sunt.
                        </p>
                        <p class="card-text"><small class="text-muted">Go to website</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="mb-3">Bronze Sponsors</h4>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="/img/sponsors/sponsor.png" class="img-fluid d-block mx-auto rounded-start" alt="Sponsor">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor</h5>
                        <p class="card-text">
                            Et perspiciatis et voluptatum eum est. Consectetur rerum molestiae veritatis dolorum nam.
                            Enim explicabo unde maxime molestiae consequuntur aliquam voluptatem.
                            Corporis fugit eveniet dolor officiis repellendus blanditiis error.
                            Provident molestiae eius ratione repellat modi tempora eius aut.
                            Hic quo est placeat cupiditate aut. Vel sit qui quos odit. Et et quidem aut nemo.
                            Et aliquam iste perferendis.
                            Eaque nostrum accusamus sint aspernatur perferendis iure. Accusantium hic ipsam commodi sunt.
                        </p>
                        <p class="card-text"><small class="text-muted">Go to website</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="mb-3">Patron Sponsors</h4>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-3">
                    <img src="/img/sponsors/sponsor.png" class="img-fluid d-block mx-auto rounded-start" alt="Sponsor">
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <h5 class="card-title">Sponsor</h5>
                        <p class="card-text">
                            Et perspiciatis et voluptatum eum est. Consectetur rerum molestiae veritatis dolorum nam.
                            Enim explicabo unde maxime molestiae consequuntur aliquam voluptatem.
                            Corporis fugit eveniet dolor officiis repellendus blanditiis error.
                            Provident molestiae eius ratione repellat modi tempora eius aut.
                            Hic quo est placeat cupiditate aut. Vel sit qui quos odit. Et et quidem aut nemo.
                            Et aliquam iste perferendis.
                            Eaque nostrum accusamus sint aspernatur perferendis iure. Accusantium hic ipsam commodi sunt.
                        </p>
                        <p class="card-text"><small class="text-muted">Go to website</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>