---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: database-authentik
  namespace: infra-argocd
  labels:
    app.kubernetes.io/name: helm-infra-argocd
    app.kubernetes.io/component: database-authentik
    app.kubernetes.io/managed-by: helm-infra-argocd
spec:
  project: databases
  syncPolicy:
    automated: {}
    syncOptions:
      - ServerSideApply=true
  destination:
    namespace: infra-authentik
    server: https://kubernetes.default.svc
  source:
    repoURL: https://cloudnative-pg.github.io/charts
    chart: cluster
    targetRevision: 0.4.0
    helm:
      valuesObject:
        cluster:
          instances: {{ .Values.authentik.database.replicas }}
          storage:
            size: {{ .Values.authentik.database.size }}
          {{- if .Values.observability.enabled }}
          monitoring:
            enabled: true
            podMonitor:
              enabled: true
            prometheusRule:
              enabled: true
          {{- end }}
        poolers:
          - name: rw
            type: rw
            poolMode: transaction
            instances: {{ .Values.berg.database.replicas }}
            {{- if .Values.observability.enabled }}
            monitoring:
              enabled: true
              podMonitor:
                enabled: true
            {{- end }}
        {{- if .Values.authentik.database.backups.enabled }}
        backups:
          enabled: true
          endpointURL: {{ .Values.authentik.database.backups.s3.endpoint }}
          s3:
            region: {{ .Values.authentik.database.backups.s3.region }}
            bucket: {{ .Values.authentik.database.backups.s3.bucketName }}
            path: "/{{ .Values.env }}/authentik"
          wal:
            encryption: ""
          data:
            encryption: ""
          secret:
            create: false
            name: "database-authentik-cluster-backup-s3-creds"
          scheduledBackups:
            - name: hourly-backup
              schedule: "0 0 * * * *"
              backupOwnerReference: self
              method: barmanObjectStore
        {{- end }}
